<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">MENU</h2>
            <form class="create-form text-center">
                <div class="form-group">
                    <input type="text" id="newBurger" name="name" placeholder="Burger Name">
                    <button type="submit" class="btn btn-primary mb-2">Add a Burger!</button>
                </div>
            </form>
            <ul>
                {{#each burgers}} {{#unless devoured}}
                <p>{{> burgers/burger-block}}</p>
                {{/unless}} {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">BURGERS EATEN</h2>
            <ul>
                {{#each burgers}} {{#if devoured}}
                <p>{{> burgers/burger-block}}</p>
                {{/if}} {{/each}}
            </ul>
        </div>
    </div>
</div>