<p> 
	{{#unless devoured}}
		<i class="devour-burger fas fa-utensils" data-id="{{this.id}}"></i>
	{{/unless}}

	<i class="delete-burger fas fa-trash-alt" data-id="{{this.id}}"></i>
	{{burger_name}}:
	{{#unless devoured}} Ready to eat! {{/unless}}
	{{#if devoured}} Devoured! {{/if}}
</p>